<div class="app-shell">
  <header class="app-header" role="banner">
    <div class="app-logo" aria-hidden="true"></div>
    <div class="app-title">
      <h1>ARK Breeding Calculator</h1>
      <div class="sub">Updated for ASA • Forked from Crumplecorn</div>
    </div>
  </header>
  <main class="panel" role="main" aria-labelledby="calcTitle">
    <div class="panel-head">
      <h3 id="calcTitle">Breeding & Maturation Planner</h3>
      <div class="subheading">Hover over labels for quick tips • Updated to v56.7</div>
    </div>
    <div class="panel-body">
<div class="wrapperbox">
  <div class="box">
    <form>
      <h3>ARK Breeding Calculator</h3>
      <h3>(Updated for ASA - Forked from Crumplecorn)</h3>
      <p class="subheading">Hover over labels for tooltips <br> Updated to v56.7
      </p>
      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Creature']}" ng-click="showhidetable('Creature')">Creature Details</div>
      <div class="tableslide" ng-show="tablevisibility['Creature']">
        <table>
          <tr>
            <td style="width: 50%" class="label tooltip">Creature: <span class="tooltiptext">Creature type</span>
            </td>
            <td>
              <select ng-show="displayconfig.showoldselects" ng-options="name as name for (name, details) in creatures" ng-model="creature.name" ng-change="switchcreature()"></select>
              <input ng-hide="displayconfig.showoldselects" class="autocomplete" autocomplete data-source="creatures" ng-change="searchcreature()" data-default="creature.name" ng-model="creature.searchname">
            </td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Weight: <span class="tooltiptext">Weight stat of creature</span>
            </td>
            <td>
              <input ng-model="creature.finalweight" ng-change="selectweight()" type="number">
            </td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Food Type: <span class="tooltiptext">Type of food used in all food stats below</span>
            </td>
            <td>
              <select ng-options="food for food in foodlists[creatures[creature.name].type]" ng-model="foodunit" ng-change="selectweight()"></select>
            </td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Hatch Multiplier:
            </td>
            <td>
              <input ng-model="settings.hatchspeed" type="number" min="0" ng-change="selectsettings()">
            </td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Mature Multiplier:
            </td>
            <td>
              <input ng-model="settings.maturationspeed" type="number" min="0" ng-change="selectsettings()">
            </td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Consume Multiplier:
            </td>
            <td>
              <input ng-model="settings.consumptionspeed" type="number" min="0" ng-change="selectsettings()">
            </td>
          </tr>
        </table>
      </div>
      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Maturation']}" ng-click="showhidetable('Maturation')">Maturation</div>
      <div class="tableslide" ng-show="tablevisibility['Maturation']">
        <table>
          <tr>
            <td style="width: 50%" class="label tooltip">{{creature.birthlabel}}: <span class="tooltiptext">Time taken for {{creature.birthlabel}}</span>
            </td>
            <td>{{creature.birthtime | secondsToDateTime}}</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Maturation: <span class="tooltiptext">Maturation progress of creature you want stats for</span>
            </td>
            <td>
              <input ng-model="creature.maturationprogress" ng-change="selectmaturation()" percentage type="number" step="0.1" min="0" max="100">%
            </td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Elapsed Time: <span class="tooltiptext">Time elapsed since birth</span>
            </td>
            <td>{{creature.maturationtimecomplete | secondsToDateTime}}</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Time to Juvenile: <span class="tooltiptext">Time until creature hits juvenile</span>
            </td>
            <td>{{creature.babytimeremaining | secondsToDateTime}}</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Time to Adult: <span class="tooltiptext">Time until creature hits adult</span>
            </td>
            <td>{{creature.maturationtimeremaining | secondsToDateTime}}</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Food to Juvenile (E): <span class="tooltiptext">{{foodunit}} the creature will actually eat (i.e. no spoilage) between now and reaching juvenile</span>
            </td>
            <td>{{creature.tojuvfooditems | number:0}}</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Food to Adult (E): <span class="tooltiptext">{{foodunit}} the creature will actually eat (i.e. no spoilage) between now and reaching adult</span>
            </td>
            <td>{{creature.toadultfooditems | number:0}}</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Food Rate (E): <span class="tooltiptext">Food point the creature will currently eat every {{settings.foodrate_time_units}}</span>
            </td>
            <td>
              {{creature.nextminfood}} pt /
              <select ng-options="unit as unit for (unit, multi) in foodrate_time_units" ng-model="settings.foodrate_time_units" ng-change="totalfoodcalc()"></select>
            </td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Food per period (E): <span class="tooltiptext">{{foodunit}} the creature will actually eat during the next {{settings.foodrate_time_units}}</span>
            </td>
            <td>{{creature.nextfoodpertimeunit}} per {{settings.foodrate_time_units}}</td>
          </tr>
        </table>
      </div>
      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Baby Phase']}" ng-click="showhidetable('Baby Phase')">{{creature.babylabel}} Phase</div>
      <div class="tableslide" ng-show="tablevisibility['Baby Phase']">
        <table>
          <tr ng-class="{'hidden': !creature.babytime}"><td class="red">When this timer expires the baby will need food placed into its inventory or it will starve.</td></tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Time to Juvenile: <span class="tooltiptext">Time until creature hits juvenile</span>
            </td>
            <td>{{creature.babytime | secondsToDateTime}}</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Food to fill from birth:
            </td>
            <td>{{creature.babyfoodneeded| number:0}} pts</td>
          </tr>
          <tr ng-if="foods[foodunit].waste">
            <td style="width: 50%" class="label tooltip">Food to be wasted by spoilage: <span class="tooltiptext">The {{foodunit}} that the baby will eat would spoil before reaching juvenile, so this food is wasted, so you can reduce the fill amount accordingly.</span>
            </td>
            <td>{{creature.babyfoodwasted| number:0}} pts</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Slots required for fill: <span class="tooltiptext">Slots, in the baby inventory, required to safely fill from birth without wasting food. Reduce if you provide less food to avoid waste.</span>
            </td>
            <td>{{creature.babyslotsrequired | number:0}}</td>
          </tr>
          <tr ng-if="foods[foodunit].waste">
            <td style="width: 50%" class="label tooltip">Food not required due to spoilage: <span class="tooltiptext">Due to spoilage, the baby will not eat this much food. You can remove this amount from the baby's inventory to avoid waste.</span>
            </td>
            <td>{{creature.babyslotsnowaste| number:0}} pts</td>
          </tr>
          <tr ng-if="foods[foodunit].waste">
            <td style="width: 50%" class="label tooltip">Slots required to avoid waste: <span class="tooltiptext">Slots required to avoid wasting food.</span>
            </td>
            <td>{{creature.babyslotsrequirednowaste| number:0}}</td>
          </tr>
        </table>
      </div>
      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Food Per Day']}" ng-click="showhidetable('Food Per Day')">Food Per Day</div>
      <div class="tableslide" ng-show="tablevisibility['Food Per Day']">
        <table>
          <tr>
            <td style="width: 50%" class="label">Food per day (E):
            </td>
            <td>{{creature.foodperday| number:0}} {{foodunit}}</td>
          </tr>
        </table>
      </div>
      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Feeding']}" ng-click="showhidetable('Feeding')">Feeding</div>
      <div class="tableslide" ng-show="tablevisibility['Feeding']">
        <table>
          <tr>
            <td style="width: 50%" class="label tooltip">Food Spoil Time: <span class="tooltiptext">Time until one item of {{foodunit}} spoils in a {{kibbletable[settings.foodcontainer].name}}. If multiple items spoil at the same time this is indicated with a multiplier.</span>
            </td>
            <td>{{kibbletable[settings.foodcontainer].spoil}} × {{foods[foodunit].spoil | secondsToDateTime}}</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Food Weight Per Slot: <span class="tooltiptext">Weight of {{foodunit}} items that fit into a single slot in a {{kibbletable[settings.foodcontainer].name}}.</span>
            </td>
            <td>{{foods[foodunit].stack * foods[foodunit].weight}} Weight ({{foods[foodunit].weight}} × {{foods[foodunit].stack}})</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Inventory: <span class="tooltiptext">Storage in a {{kibbletable[settings.foodcontainer].name}}</span>
            </td>
            <td>
              <select ng-model="settings.foodcontainer" ng-options="unit as kibbletable[unit].name for unit in foodcontainers" ng-change="totalfoodcalc()"></select>
            </td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Slots (each):
            </td>
            <td>
              <input type="number" min="0" ng-model="slots" ng-change="totalfoodcalc()">
            </td>
          </tr>
          <tr ng-if="foods[foodunit].waste">
            <td style="width: 50%" class="label tooltip">Food Wasted by Spoil: <span class="tooltiptext">Because {{foodunit}} spoils, this much food will be wasted if you fill slots.</span>
            </td>
            <td>{{wastedfood| number:0}} pts</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Total Food Stored:
            </td>
            <td>{{totalfoodstored| number:0}} pts</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Total {{foodunit}} Stored:
            </td>
            <td>{{totalfoodstoreditems| number:0}} {{foodunit}}</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Total FoodEaten During Spoil Cycle:
            </td>
            <td>{{totaleatenfood| number:0}} pts ({{totaleatenfooditems| number:0}} {{foodunit}})</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Time Until Food Runs Out:
            </td>
            <td>{{totaltimefoodstored | secondsToDateTime}}</td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Slots Needed for 24h:
            </td>
            <td>{{dayprovisions| number:0}}</td>
          </tr>
          <tr>
            <td class="fillfood">Fill your {{kibbletable[settings.foodcontainer].name}} with {{foodunit}} to keep your baby fed.</td>
          </tr>
        </table>
      </div>
      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Imprinting']}" ng-click="showhidetable('Imprinting')">Imprinting</div>
      <div class="tableslide" ng-show="tablevisibility['Imprinting']">
        <table>
          <tr>
            <td style="width: 50%" class="label tooltip">Imprint Multiplier: <span class="tooltiptext">Imprinting multiplier (vanilla = 1)</span>
            </td>
            <td><input type="number" min="0" ng-model="settings.imprintmult" ng-change="selectsettings()"></td>
          </tr>
          <tr>
            <td style="width: 50%" class="label">Care Interval:
            </td>
            <td>
              <select ng-model="settings.careinterval" ng-change="selectsettings()">
                <option value="1h">1 hour</option>
                <option value="1h30">1 hour 30</option>
                <option value="2h">2 hours</option>
                <option value="3h">3 hours</option>
                <option value="4h">4 hours</option>
              </select>
            </td>
          </tr>
          <tr>
            <td style="width: 50%" class="label tooltip">Max Possible Imprint: <span class="tooltiptext">Calculated maximum imprint percent</span>
            </td>
            <td>{{maximprint| number:1}}%</td>
          </tr>
        </table>
      </div>
      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Changelog']}" ng-click="showhidetable('Changelog')">Changelog</div>
      <div class="tableslide" ng-show="tablevisibility['Changelog']">
        <ul class="changes-list" id="changelog-list">
          <li>Added Maeguana as trough option.</li>
          <li>
          Updated creature list.<br />
            <ul>
              <li ng-repeat="creature in creatureChanges">
              {{creature.name}} has been {{creature.status}}.
              </li>
            </ul>
          </li>
          <!-- The list will be dynamically populated with ASA dinos -->
        </ul>
      </div>
    </form>
  </div>
</div>
      <p class="footer">Built with AngularJS • Theme refresh for ASA look & feel</p>
    </div>
  </main>
</div>
