body {
    font-family: Arial, sans-serif;
    font-size: 0.9em;
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), -1px 1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8);
    height: 100%;
    background-attachment: fixed;
    background-image: url(background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Dimming the background */
    z-index: -1;
}

a {
    color: #66ccff; /* Tek blue color for links */
}

input {
    width: 50px;
}

input[type=button] {
    width: auto;
}

input, select {
    background-color: rgba(50, 50, 50, 0.8); /* Dark metallic with slight transparency */
    border-width: 0px;
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), -1px 1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8);
    font-size: 10pt;
}

option {
    background-color: rgba(30, 100, 150, 1); /* Tek blue */
    text-shadow: none;
    font-size: 10pt;
}

.autocomplete {
    width: 120px;
}

ul {
    background-color: #2d2d2d; /* Dark metallic color */
    color: white;
}

h3 {
    margin-bottom: 0px;
}

p.subheading {
    margin-top: 0px;
    font-size: 0.7em;
}

p.footer {
    margin-top: 0px;
    font-size: 0.8em;
}

table {
    background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(70, 150, 200, 0.4)); /* Metallic and Tek blue theme */
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    min-width: 400px;
}

td {
    margin: 2px;
    padding: 5px;
}

thead {
    font-weight: bold;
}

caption, .tableheader {
    font-weight: bold;
    font-size: 1.1em;
    color: #66ccff; /* Tek blue */
}

.hiderows caption, .tableheader.dimmed {
    color: #999999;
}

.hiderows tr {
    display: none;
}



.label {
    font-weight: bold;
    color: #66ccff; /* Tek blue */
}

.box {
    display: table;
    text-align: center;
    border-radius: 10px;
    background: linear-gradient(rgba(50, 50, 50, 0.6), rgba(70, 150, 200, 0.3)); /* Semi-transparent Tek look */
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.messagebox {
    max-width: 400px;
    display: inline-block;
    margin-bottom: 5px;
}

.wrapperbox {
    min-height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.helpbox {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 50%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: none;
}

.helpbox .box {
    background: linear-gradient(rgba(50, 50, 50, 0.7), rgba(70, 150, 200, 0.4)); /* Darker metallic theme */
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

label {
    background-color: rgba(40, 150, 150, 0.3);
    padding: 2px;
    margin-left: 5px;
    font-size: 0.8em;
}

input:checked + label {
    background-color: rgba(70, 150, 200, 0.7); /* Tek blue when checked */
}

.fillfood {
    font-style: italic;
    text-shadow: -1px -1px 0 rgba(85, 85, 85, 0.8), 1px -1px 0 rgba(85, 85, 85, 0.8), -1px 1px 0 rgba(85, 85, 85, 0.8), 1px 1px 0 rgba(85, 85, 85, 0.8);
}

.red {
    color: red;
}

.redselect {
    background-color: red;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgba(50, 50, 50, 0.9); /* Tek-styled tooltip */
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 0.9em;
    font-weight: normal;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    top: 0px;
    left: 100%;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
    background: rgba(50, 50, 50, 0.9);
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

.tooltip .tooltiptext:hover {
    opacity: 0;
    visibility: hidden;
}

.changes-box {
    max-width: 300px; /* Restrict the width of the changes box */
    background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(70, 150, 200, 0.4)); /* Same theme */
    text-align: left;
    height: 400px; /* Adjust the height of the changes box */
    padding: 10px; /* Add padding for better spacing */
    margin-top: 20px; /* Adjust the top margin */
    margin-bottom: 20px; /* Equal bottom margin */
    overflow-y: auto; /* Allow scrolling if content exceeds the height */
}

.changes-box h3 {
    margin-bottom: 10px;
    color: #66ccff; /* Tek blue */
}

.changes-list {
    list-style-type: disc;
    padding-left: 20px;
}

.changes-list li {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: white;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.8), 1px -1px 0 rgba(0, 0, 0, 0.8), -1px 1px 0 rgba(0, 0, 0, 0.8), 1px 1px 0 rgba(0, 0, 0, 0.8);
}

.small-text {
  font-size: 0.8em; /* Or any size you prefer */
  color: #e0e0e0; /* Optional: Change color or any other styling */
}
