name: Sync ARK Config
on:
  schedule:
    - cron: '0 * * * *' # Runs every hour
  workflow_dispatch: # Allows manual run
jobs:
  get-config:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download file
        run: curl -o dynamicconfig.ini https://cdn2.arkdedicated.com/asa/dynamicconfig.ini
      - name: Commit and Push
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add dynamicconfig.ini
          git commit -m "Update config" || exit 0
          git push
